<section>
    <div class="content-indentation">
        <div class="data">
            <section>
                <h3>About Us</h3>
                <p>
                  At Medicare, we are passionate about revolutionizing the healthcare experience. Our mission is to provide a seamless and user-friendly platform for ordering medicines and healthcare essentials, ensuring that everyone has access to affordable and high-quality healthcare products.
                </p>
              </section>
          
              <section>
                <h3>Our Journey</h3>
                <p>
                  Established in 2020, Medicare has been dedicated to serving the community since its inception. We started with a vision to bridge the gap between users and healthcare products, making the process of ordering medicines convenient and efficient.
                </p>
              </section>
          
        </div>
    </div>
</section>
